body{
    background: url('../img/cielo.jpg');
    background-attachment: fixed;
}
#logo{
    background: rgb(45, 45, 136);
}

#menu ul li:hover{
    background: rgb(18, 18, 224);
}

.button-more{
    background: rgb(18, 18, 224);
}