body{
    background: url('../img/hojas.jpg');
    background-attachment: fixed;
}
#logo{
    background: #235e23;
}

#menu ul li:hover{
    background: #08ec08;
}

.button-more{
    background: #08ec08;
}